.black-element>* {
    background-color: black !important;
    color:white;
    border: 0;
}



.dark-element > * {
    background-color: var(--body-text);
    color: var(--bg-default);
}

.white-text>* {
    color: var(--bg-default);
}