.favourites-container {
    display: none;
    padding-inline: 4%;
    padding-block: 15px;
    flex-direction: column;
    gap: 10px;
    position: fixed;
    background-color: var(--bg-default);
    height: 180px;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 2;
    
}

.toggle-fav {
    display: flex;
}

.fav-card{
    width: 150px;
    height: 120px;
    box-shadow: 0 0 5px var(--lines-color);
    border-radius: 20px;
    cursor: pointer;
}

.fav-cards-flex{
    gap: 10px;
    width: 100%;
    flex-wrap: wrap;
    overflow: auto;
}