.favourites-container {
    display: none;
    padding-inline: 4%;
    padding-block: 15px;
    flex-direction: column;
    gap: 20px;
    position: fixed;
    background-color: var(--bg-default);
    height: 200px;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 4;

}

.toggle-fav {
    display: flex;
}

.fav-card {
    width: 150px;
    height: 120px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    background-color: transparent;
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
}

.fav-cards-flex {
    gap: 10px;
    width: 100%;
    flex-wrap: wrap;
    overflow-x :auto;
}

.fav-card-tilte {
    height: 30px;
}

.fav-card-info {
    padding-inline: 10px;
}

.rating-stars {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    width: 6rem;
  }

  .star {
    position: absolute;
    height: 1rem;
    width: 1rem;
    display: flex;
    color: var(--star-color); /* Set the star color */
  }

  .star-pair {
    position: relative;
    display: inline-block;
    color: var(--star-color);
    width: 1rem;
    height: 1rem;
  }

  .star-outline{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: 2;
  }