footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-inline: 4%;
    margin-block: 30px;
}

.heart-icon{
    color:var(--heart-color);
    size: 3rem 3rem;
}
