footer{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-inline: 4%;
    margin-block: 30px;
    vertical-align: center;
    z-index: 1;
}

.footer-text{
    display: flex;
    flex-direction: row;
    align-items: center;

}
.heart-icon{
    color:var(--heart-color);
    size: 3rem 3rem;
    
}
