.flex {
    display: flex;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.justify-space-between {
    justify-content: space-between;
}

.bold {
    font-weight: 700;
}

.flex-header {
    background-color: var(--bg-default);
    height: 70px;
    padding-inline: 4%;
}

.web-topics-details {
    font-size: 1.5rem;
}

.card-author-color{
    color: var(--card-author-color);
}

.web-topics-home {
    font-size: 1rem;

}

.welcome {
    font-size: 20px;
}

.brand-primary-font {
    color: var(--brand-primary);
}


.button {

    background-color: transparent;
    border-radius: 5px;
    border: solid 1px var(--lines-color);
    height: 30px;
    cursor: pointer;
    width: 3rem;

}


.header-buttons {
    gap: 5px
}

.hide-on-mobile {
    display: none;
}

.welcome-block {

    height: 120px;
    width: 100%;
    background-image:
        /* Top Left triangle*/
        linear-gradient(to top left, transparent 65%, var(--brand-secondary) 20%, var(--brand-primary) 10%),

        /* Top Right triangle*/
        linear-gradient(to top right, transparent 65%, var(--brand-secondary) 50%);
    background-size: 100% 100%;
    background-position: top;
    background-color: white;
    /* Width height*/

}

.welcome-text {
    margin-top: 20px;

}

.welcome {
    font-weight: 700 !important;
    color: var(--brand-secondary)
}



@media (min-width: 600px) {
    .button {
        gap: 5px;
    }

    .hide-on-mobile {
        display: inline;
        font-weight: 400;
    }

    .dark-button {
        width: 6.5rem;
    }

    .favourites-button {
        width: 6.5rem;
    }


}