.flex-header {
    display: flex;
    align-items: center;
    background-color: var(--bg-default);
    height: 70px;
    padding-inline: 4%;

}

.welcome-container {
    display: flex;
    justify-content: center;
    align-items: center;

}

.web-topics {
    color: var(--brand-primary);
    font-weight: 700;
}

.web-topics-details {
    font-size: 1.5rem;
}

.web-topics-home {
    font-size: 1rem;

}

.welcome {
    font-size: 20px;
}

.flex-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.button {

    align-items: center;
    background-color: transparent;
    border-radius: 5px;
    border: solid 1px var(--lines-color);
    height: 30px;
    text-align: center;
    cursor: pointer;
    width: 3rem;
    font-weight: 400;
}


.header-buttons {
    display: flex;
    flex-direction: row;
    gap: 5px
}


.hide-on-mobile {
    display: none;
}

.welcome-block {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    width: 100%;
    background-image:
        /* Top Left triangle*/
        linear-gradient(to top left, transparent 65%, var(--brand-secondary) 20%, var(--brand-primary) 10%),

        /* Top Right triangle*/
        linear-gradient(to top right, transparent 65%, var(--brand-secondary) 50%);
    background-size: 100% 100%;
    background-position: top;
    background-color: white;
    /* Width height*/
   
}

.welcome-text {
    margin-top: 20px;

}

.welcome {
    font-weight: 700 !important;
    color: var(--brand-secondary)
}



@media (min-width: 600px) {
    .button {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 5px;
    }

    .hide-on-mobile {
        display: inline;
        font-weight: 400;
    }

    .dark-button {
        width: 6.5rem;
    }

    .favourites-button {
        width: 6.5rem;
    }


}