.flex {
    display: flex;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.justify-space-between {
    justify-content: space-between;
}

.container {
    padding-inline: 4%;
}

.bold {
    font-weight: 700;
}

header{
    background-color: var(--bg-default);
}

.flex-header {

    height: 70px;
}

.web-topics-details {
    font-size: 1.5rem;
}

.card-author-color {
    color: var(--card-author-color);
}

.web-topics-home {
    background-color: transparent !important;
    font-size: 1rem;

}

.welcome {
    font-size: 20px;
}

.brand-primary-font {
    color: var(--brand-primary);
}

.button {

    background-color: transparent;
    border-radius: 5px;
    border: solid 1px var(--lines-color);
    height: 30px;
    cursor: pointer;
    width: 3rem;

}


.header-buttons {
    gap: 5px
}

.hide-on-mobile {
    display: none;
}

.welcome-block {

    height: 120px;
    width: 100%;
    background-image:
        /* Top Left triangle*/
        linear-gradient(to top left, transparent 65%, var(--brand-secondary) 20%, var(--brand-primary) 10%),

        /* Top Right triangle*/
        linear-gradient(to top right, transparent 65%, var(--brand-secondary) 50%);
    background-size: 100% 100%;
    background-position: top;
    /* Width height*/

}

.welcome-text {
    margin-top: 20px;

}

.welcome {
    font-weight: 700 !important;
    color: var(--brand-secondary)
}

.rating-stars {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    width: 6rem;
}

.rating-stars-outlined {
    position: absolute;

}

.star:last-of-type {
    margin-right: 0;
}

.star {
    height: 100%;
    width: 100%;
    fill: var(--star-color);
}

.two-stars {
    display: inline;
    position: relative;
    height: 15px;
}

.star-outlined {
    position: absolute;
    display: none;
    size: 1rem 1rem !important;
    color: var(--star-color);
}

.overlay{
    background-color: transparent;
}

@media (min-width: 600px) {
    .button {
        gap: 5px;
    }

    .hide-on-mobile {
        display: inline;
        font-weight: 400;
    }

    .dark-button {
        width: 6.5rem;
    }

    .favourites-button {
        width: 6.5rem;
    }


}

