* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
}

a {
    text-decoration: none;
    color: var(--body-text);
}

.light {
    font-weight: 200;
}

.regular {
    font-weight: 400;
}

body {
    background-color: var(--bg-body);
}

.brand-primary {
    color: var(--brand-primary);
}

.found-text {
    font-weight: 700;
    font-size: 26px;
    padding-top: 20px;
}

.cards-grid {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fill, minmax(245px, 1fr));
    gap: 30px;
    margin-top: 30px;

}

main {

    padding-top: 20px;
}

.search-bar {
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 5px var(--lines-color);
    border-radius: 10px;
    background-color: white;
    height: 100px;
}

.search-icon {
    color: var(--body-text);
}

.search-box {
    width: 70%;
    border-right: var(--lines-color);
    display: flex;
    align-items: center;
    gap: 15px;
    padding-left: 10px;
    color: var(--lines-color);
    height: 50%;
}

.sort-filter {
    display: flex;
    flex-direction: row;
    width: 100%;
    border-top: solid 1px var(--lines-color);
}

.sort-filter-button {
    display: flex;
    flex-direction: column;
    gap: 2px;
    width: 100%;
    padding-inline: 10px;
    padding-block: 5px;
    background-color: transparent;
    border: 0;
    height: 100%;
}

.search-input {
    border: 0;
    font-weight: 400;
    height: 100%;
    font-size: 18px;
    width: 100%;
}

textarea:focus,
input:focus {
    outline: none;
}

.list-by {
    font-size: 12px;
    padding-left: 4px;
}

.default {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    font-size: 16px;
}

.sort-box {
    width: 50%;

}

.filter-box {
    width: 50%;
    border-left: solid 1px var(--lines-color);
}


select {
    display: flex;
    border: 0;
    list-style: none;
    padding-right: 5px;
    text-indent: 0;
}

select:focus {
    border: 0;
}


.card {

    background-color: white;
    box-shadow: 0 0 5px var(--lines-color);
    overflow: hidden;
    height: 320px;
    border-radius: 10px;
    cursor: pointer;

}

.card-img {
    height: 48%;
    width: 100%;
    object-fit: cover;
    background-color: var(--bg-default) !important;
}

.trim {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.card-type {

    display: inline-block;
    font-size: 14px;
    font-weight: 400;

}

.card-title {
    font-weight: 700;
    height: 50px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;

}

.card-info {
    font-size: 16px;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    padding-inline: 15px;
    padding-top: 25px;
    width: auto;
    height: 100%;
}

.card-author {
    font-weight: 400;
    color: var(--body-text);
}



.overlay {
    background: white;
    height: 100%;
    overflow: hidden;
    color: white;
    position: absolute;
    top: 0;
    right: 0;
}

@supports (mix-blend-mode: color) {
    .overlay {
        opacity: unset;
        mix-blend-mode: screen;
    }

}



.card-author {
    margin-top: 15px;
}



.fill-star-color {
    fill: var(--star-color);
}

.loader-container {
    width: 100%
}

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    place-self: center;
    /* Safari */
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@media(min-width: 768px) {
    .search-bar {
        display: flex;
        flex-direction: row;
        align-items: center;

    }

    .search-bar {
        flex-direction: row;
        height: 50px;
    }

    .sort-filter {
        border: 0;
        width: 30%;
    }

    .sort-box {
        border-left: solid 1px var(--lines-color);
    }

}