:root {
    --brand-primary: #0768AC;
    --brand-secondary: #03C180;
    --bg-default: #FFFFFF;
    --bg-body: #F0F9FF;
    --lines-color: #DDDDDD;
    --body-text: #333333;
    --heart-color: #DC143C;

}

.bold{
    font-weight: 700;
}